header{
  margin: 300px;
  border: 100px solid green;
}

.margin1
{
  margin: 300px;
  border: 100px solid green;
}

.margin2
{
  margin: 300px;
  border: 100px solid red;
  background-color: black;
}

.margin3
{
  margin: 300px;
  border: 100px solid purple;
}

.footer3{
  margin: 300px;
  border: 100px solid blue;
  width: 1900px;
  position: absolute;
  right:129px;
}
