

* {
  box-sizing: border-box;
}


 .first {
  /* margin:70px; */
  border:1px solid gray;
  /* width:990px; */
  width:31.33%;;
  float:right;
  height: 200px;
  /* padding:20px; */
  /* text-decoration: underline; */
}


.sec02 {
 /* margin:70px; */
 border:1px solid gray;
 /* width:990px; */
 width:100%;
 float:left;

 margin-top: 97px;
 height: 200px;
 /* padding:20px; */
 /* text-decoration: underline; */
}
.sec03 {
 /* margin:70px; */
 border:1px solid gray;
 /* width:990px; */
 width:100%;
 float:left;

 margin-top: 0.1px;
 height: 200px;
 /* padding:20px; */
 /* text-decoration: underline; */
}


.trump{
  border: 2px solid black;
  width:68%;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  border:2px solid black;
  width:50%;
  height:180px;
  float:right;
margin: -30px 1px 0 0;
}

.containerText >p{

  color:white;
  line-height: 18px;
}

.topLeftText{
  width:50%;
  border:2px solid black;
  margin: 28px 1px 0 0;


}
