* {
  box-sizing: border-box;
   margin: 0;
}

.menu{
  display: none;
}
h2 span p{
  font-family: Arial;
}
li{
  list-style: none;
}
.jwLI{
  width: 214%;
  float: right;
  height: 50px;
  margin: 2px 96px 57px 2px;

}
footer{
  float:left;
  clear:both;
  width:100%;
  color:white;
  background-color: #8F9CA3;
  height:244px;
}

footer ul{
  width: 31%;
  float: left;
  margin: 102px -175px 3px 24px;
}

header{
  float: left;
  clear: both;
  width: 100%;
  height: 81px;
}


header nav ul li{
  float: left;
    display: block;
    /* width: 5%; */
    /* height: 39px; */
    margin: 16px 63px 5px 28px;
}
.image-Simmons{
  width: 11%;
  padding-top: 17px;
}
#small-Simmons
{
  display: none;
}
/* .sectionS{
  display: none;
} */



.middleSection{
  float:left;
  width:100%;
  height:260px;
  clear:both;
}

.middleChild{
  float:left;
  width:76%;
  height:260px;
}

.bottomSection{
  float:left;
  width:100%;
  clear: both;
  overflow: auto;
}

.block{
  display: inline-block;
  width: 43%;
  float: left;
  margin: 115px 5px 4px 33px;
}


.bottomSec{
  width:33.3333%;
  float:left;
  clear: both;
  overflow: auto;
}
.form{
  width: 78%;
  height: 31px;
  margin:5px 18px 3px 2px;
}
.topbottomsec{
  width: 100%;
  text-align: center;
  overflow: hidden;
  float: right;
}

.Develop-leadership{
  border-top: 3px solid pink;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 7px;



}
h2 h3 p{
  font-family: Arial;
}
.ptagLeft0 h4{
  color:lightgray;
}
.newsletter{
  float: left;
  margin:14px 7px 10px 324px;
  color:white;
}

/* .image-Simmons{
  width:40%;
} */
.submit{
  width:10%;
  height: 31px;
  margin:4px 98px 0 2px;

}
.heaDb{
  margin:0;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  color:white;
  padding: 6px 2px 3px 4px;
}
.picture {
width:30%;
height: 200px;
float: left;
margin-left: 400px;

}
.secTi{
  float: left;
  height:200px;
  width:30%;
  margin:11px -14px -3px 17px;
}
figcaption{
  float: right;
  margin:-2px -69px 0px 0px;
}


.picture img{
width:65%;
display: block;
margin-left: 356px;
padding-top: 15px;
}
.loRem{
  float: left;
  width:73%;
  margin:0 0 0 19px;
}
.loRem p{
  margin-top: -145px;

}
.loRem h2{
  margin-top: 80px;
  float: left;
}
.texH2{
  padding-top: 80px;
}
.History{
  width: 100%;
  text-align: center;
  overflow: hidden;
  float: right;
}

.section4{
  width: 100%;
  overflow: hidden;
  float: left;
}
.childofUnder{
  float: left;
  width:50%;
  height:350px;
}
.Undernav img {
  float:right;
  width:26%;
}

.sectionchild{
  float: left;
  width: 69%;
  margin: 56px 0px 6px 39px;
  height: 350px;
}
.Undernav{
  overflow: hidden;
  width: 100%;
  height:382px;
  text-align: center;
  float: right;
  background-color: #F1F3F5;
  clear: both;
  float: left;

}

.copy ul{
  float: right;
  margin-top: -26px;
  margin-right: 14px;
  padding:5px 6px 7px 14px;


}
.spaNa{
  margin: 12px 49px;
  vertical-align:-34px;

}

.copy ul li{
  display: inline;
}
.line{
  margin: 55px 7px 7px 48px;
      position: absolute;
      border: 1px solid white;
      width: 90%;
      height: 1px;

}

.nav li{
  display: inline;
  padding:0 0 0 18px;
}
.sectionJ{
  float:left;
  clear:both;
  width:100%;
  background-color: white;
  overflow: hidden;
  height:341px;
}
.sectionJtxt{
  margin: 27px 18px 3px 1px;
  float: right;
  clear: both;
  width: 92%;
  height: 83px;
}
.sectionJtxt-t{
  margin: 28px 20px 5px 138px;
  float: left;
  clear: both;
  width: 28%;
  height: 83px
}
.sectionJtxtt{
  margin: -85px 20px 5px 138px;
  float: right;
  clear: both;
  width: 28%;
  height: 83px;
}
.sectionJtxtBt{
  margin: 10px 372px 5px 138px;
  float: right;
  clear: both;
  width: 37%;
  height: 83px;
}
.sectionH{
  clear:both;
  width:100%;
  background-color: rgb(241,243,245);
  overflow: hidden;
  height:441px;
}
.sectionS{
  float: right;
    clear: both;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0px;
    background-color: rgb(184,197,208);
    /* height: 41px; */
}
.sectionS input{
  /* float:right; */

    float: right;
    padding: 2px 2px 2px 2px;
    /* width: 19%; */
    height: 42px;
    /* margin: 1% 1% 0% 2%; */
    /* padding: 0 1px 10px 6px; */
    margin: 7px 55px 8px 17px;
}
.sectionW{
  float:left;
  clear:both;
  width:100%;
  background-color: white;
  overflow: hidden;
  height:621px;
}
.left{
 padding-left:60px;

}
.para p{
  float: left;
  width:30%;
  display:block;
}

.sectionW img{
  float: left;
  /* width:24%; */
  margin: 4px 112px 3px 12px
}
.sectionW h2{
  text-align: center;
}
.ptagLeft {
  float: left;
  width:40%;
  height:90px;
  margin:28px 13px 6px 50px;
}
.ptagLeft h4 {

  color: lightgray;
margin-right: 42px;
padding-top: 40px;
padding-bottom: 39px;
margin-top: -24px;
}

.ptagLeft0{
  float: left;
  width:50%;
  margin:24px 2px 2px 2px;
}


.left2{
  margin-right: 40px;
}
.ptagLeft0 h2{
  padding-right: 480px;
}
.image {
  float:left;
  width:80%;
  border: 1px solid lightgray;
  margin:18px 3px 2px 47px;

}
.image img{
  float: left;
  margin:0 4px 2px 7px;
  padding: 0 2px 3px 5px;
}

@media screen and (max-width: 500px)
{ *{
  margin: 0;
}
 /* body{
   background-color: yellow;
 } */

/* header{
  display: none;
} */
.childofUnder{
  width: auto;
  text-align:center;
}

.sectionchild {
    float: left;
    width: 69%;
    text-align: center;
    padding-left: 26%;

    /* margin: auto; */
    /* margin: 56px 0px 6px 39px; */
    height: 350px;
  }





.sectionJ{
  display: none;
}
.jwLI{
  width: 280%;
  float: none;
}



.Undernav img{
  float: right;
}
.sectionchild{
  float: left;
  margin:0;
  height:0;
}
.ptagLeft0{
  display: none;
}
.sectionS{
  display: none;
}
.secTi{
  float: left;
  height:0;
  width:0;

}
form{
  display: none;
}
.clear{
  display: none;
}
footer{
  display: none;
}
figcaption{
  display: none;
}



.menu{
display:contents;
float: right;
height: 90px;
}

header{
  display:none;
}



.sec{
  text-align: center;
}
.sec2,.sec3,.sec4,.sec5, .sec6{
  width:100%;
  /* float: left; */
  margin: 103px 2px 8px 2px;
}
.box1,.box2,.box3{
  width:100%;
  margin:11px 4px 18px 0px;
  border:0;
}
.rightsection{
  float: none;
  margin:0;
  padding:0;
  border: none;
}
/* .sec2{
display: none;
} */
.Section3{
  border:0;
}

.menu{
  float: left;
}
.parentSection {
  float: left;
  width: 100%
}
.rightsection {
  width: 100%;
}


.secTi {
     float: left;
    height: 0;
    /* width: 5%; */
    padding: 0px 2px 2px 172px;
    margin: auto;
    width:auto;

}

.sectionH {
  clear: both;
  width: 100%;
  background-color: rgb(241,243,245);
  /* overflow: hidden; */
  height: auto;
}

.sectionW {
    float: left;
    clear: both;
    width: 92%;
    background-color: white;
    overflow: hidden;
  }


.loRem{
  /* float: left;
  width:73%;
  margin:0 0 0 19px; */
  width: auto;
    text-align: center;
}
.loRem p{
  margin-top: -145px;

}
.loRem h2{
  margin-top: 80px;
  float: left;
}





.ptagLeft {
    /* text-align: center;
    float: left;
    width: 100%;
    height: 90px; */
    display: inline-block;
    width: auto;
    height: auto;
     /* margin: 28px 13px 6px 50px; */
  }

.image-Simmons{
  display: none;
}
#small-Simmons{
  display: inline-block;
  float: none;
  margin:auto;
}
.Simmons-Sections{
  text-align: center;
}

.ptagLeft0{
  float: left;
  width: 100%;
  margin: 24px 2px 2px 2px;
}


.sectionW {
    float: left;
    clear: both;
    width: 100%;
    background-color: white;
    overflow: hidden;
    height: auto;
  }

.sectionW {
    float: left;
    clear: both;
    width: 92%;
    background-color: white;
  }

}


/*tablet */
@media  screen and (min-width:550px)
and (max-width: 943px)
{*{
  margin: 0;
}
body{
  background-color: red;
}
footer ul {
    /* width: 31%; */
    float: left;
    margin:auto;
  }
.childofUnder{
  width: auto;
  text-align:center;
}
.line{
  display: none;
}




.sectionchild {
    float: left;
    width: 69%;
    text-align: center;
    padding-left: 26%;

    /* margin: auto; */
    /* margin: 56px 0px 6px 39px; */
    height: 350px;
  }



/* body{
  background-color: black;
} */
.ptagLeft {
    /* text-align: center;
    float: left;
    width: 100%;
    height: 90px; */
    display: inline-block;
    width: auto;
    height: auto;
     /* margin: 28px 13px 6px 50px; */
  }
.sectionW{
  height: auto;
}
.ptagLeft h4{
  text-align: center;
  padding: 5%;
}
  .ptagLeft0{
    float: left;
    width: 100%;
    margin: 24px 2px 2px 2px;
  }
.menu{
  float: left;
  display: contents;
  height: 13px;
}

.clear{
  display: none;
}

header{
  display:none;
}



.sec{
  text-align: center;
}
.sec2,.sec3,.sec4,.sec5, .sec6{
  display: none;

}
.submit, .form{
display: none;
}
.sectionS{
  background-color:rgb(184,197,208);
}
.sectionS{
  display: none;
}
.image-Simmons{
  display: none;
}
#small-Simmons{
  display: inline-block;
  float: none;
  margin:auto;
}
.Simmons-Sections{
  text-align: center;
}

/* footer{
  display: none;
} */
.sectionJ{
  display: none;
}
.sectionH{
  display: none;
}
header{
  display: none;
}
.box1,.box2,.box3{
  width:100%;
  margin:11px 4px 18px 0px;
  border:0;
}
.rightsection{
  float: left;
  margin:40px 0 0 0;
  padding:0;
  border: none;

}

.Section3{
  border:0;
}

.menu{
  float: left;
  color: black;
}
.parentSection {
  float: left;
  width: 100%
}
.rightsection {
  width: 100%;
}

}
/* @media only screen and () */


@media  screen and (min-width:768px) and (max-width:1025px){
  /* header{
    background-color: yellow;
  } */
  header nav ul li{
    float: left;
      display: block;
      /* width: 5%; */
      /* height: 39px; */
      margin: 13px 63px 5px 6px;
  }

}
/* desktopmeda queries */
@media  screen and (min-width:769px)
and (max-width: 1103px)
{
  *{
    margin: 0;

  }
  body{
    background-color: pink;
  }
  .picture {
  width:34;
  height: 200px;
  float: left;
  margin-left: 400px;

  }
  /* body{
    background-color: red;
  } */


  /* .sectionH{
    display: none;
  } */
  /* .clear{
    display: none;
  } */

.sectionH {
    clear: both;
    width: 100%;
    background-color: rgb(241,243,245);
    overflow: hidden;
    height: 441px;
  }

.secTi {
  float: left;
  height: 0;



  }


  .box1{
    float: left;
    display: block;
    overflow: hidden;
    width: 30%;

  }
  .small-Simmons
  {
    display: none;
  }
  .red{
    float:left;
  }
  .sec{
    text-align: center;
  }
  .sec2,.sec3,.sec4,.sec5, .sec6{
    display: none;

  }
  .box3{
    display: none;
  }

  .rightsection{
    float: none;
    margin:40px 0 0 0;
    padding:0;
    border: none;
    width:50%;

  }

  .Section3{
    border:0;
    font-family: serif;
  }

  .menu{
    float: left;
  }
  .parentSection {
    float: left;
    width: 100%
  }
  .rightsection {
    width: 100%;
  }


}
