* {
  box-sizing: border-box;

}

header,

.middleSection,
.middleChild,
.bottomSection,
.bottomSec,
.Undernav,
footer,
.topbottomsec,
footer nav ul li,
.History,
.section4{
  border: 1px solid black;

}


header{
  float: left;
    clear: both;
    width: 100%;
    height: 81px
}


header nav ul li{
  float: left;
display: block;
width: 5%;
height: 39px;
margin: 16px 63px 5px 28px
}
.menu{
  width: 5%;
  border: 1px solid black;
  margin: 6px 0 0 3%;
  float: left;
}

.middleSection{
float:left;
width:100%;
height:260px;
clear:both;
}

.middleChild{
  float:left;
  width:76%;
  height:260px;
}

.bottomSection{
  float:left;
  width:100%;
  /* height: 260px; */
  clear: both;
  overflow: auto;
}



.bottomSec{
  width:33.3333%;
  float:left;
  /* height: 260px; */
  clear: both;
  overflow: auto;
}

.topbottomsec{
  width: 100%;
  text-align: center;
  overflow: hidden;
float: right;
/* height: 300px; */
}

.History{
  width: 100%;
  text-align: center;
  overflow: hidden;
float: right;
}

.section4{
  width: 100%;
  /* text-align: center; */
  overflow: hidden;
  float: left;
}
.childofUnder{
  float: left;
  width:50%;
  height:350px;
  background-color: blue;
  border: 1px solid black;
  /* background-color: url("") */
}
.sectionchild{
  float: left;
    width: 62%;
    margin: 162px 0px 6px 39px;
    height: 350px;
    background-color: blue;
    border: 1px solid black;
}
.Undernav{
  overflow: hidden;
  width: 100%;
  height:350px;
  text-align: center;
float: right;
border: 1px solid black;
/* height: 300px; */
    background-color: lightgray;
background-size: contain;

 background-image: url(https://icon-library.com/images/female-profile-icon/female-profile-icon-12.jpg); */
/* height: 260px; */
clear: both;
background-repeat: no-repeat;
overflow: hidden;
float: left;
background-position: 961px -24px;

}

footer{
  float:left;
  clear:both;
  width:100%;
  overflow: hidden;
  height:130px;
}

footer nav ul li{
  float: left;
display: block;
overflow: hidden;
width: 7%;
height: 97px;
margin: -62px 4px 59px 98px;
}

@media only screen and (max-width:768px){ /*insert responsive css here*/
.ChildofFooter{
display:none;
}
.header1{
  display:none;
}
.menu{
  float:right;
  /* display: none; */
}
.middleSection, .middleChild{
  display: none;
}
.bottomSec{
width: 100%;
}
header nav ul .ChildofUl{
  float: left;
  display: none;

}

}





/*********************  ****************************/

/* for ipads */
   @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2)
   {
     .ChildofFooter{
     display:none;
     }
     .header1{
       display:none;
     }
     .menu{
       float:right;
       /* display: none; */
     }
     .middleSection, .middleChild{
       display: none;
     }
     .bottomSec{
     width: 100%;
     }
     header nav ul .ChildofUl{
       float: left;
       display: none;

     }
   }

/*********************  ****************************/
/* Media Query for Laptops and Desktops */
      @media (min-width: 1025px) and (max-width: 1280px){
        .ChildofFooter{
        display:none;
        }
        img{
          width:100%;
        }
        .header1{
          display:none;
        }
        .menu{
          float:right;
          /* display: none; */
        }
        .middleSection, .middleChild{
          display: none;
        }
        .bottomSec{
        width: 100%;
        }
        header nav ul .ChildofUl{
          float: left;
          display: none;

        }
      }
/* @media only screen and (max-width:960px){ /*insert responsive css here*/

/* @media only screen and (max-width:960px){ /*insert responsive css here*/
